html, body, #root{
  height: 100%;
}

body{
  background: url('./images/background_scaled.jpg');
  background-attachment: fixed;
  margin: 0;
}

.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: #222;
  height: auto;
  color: rgb(226, 223, 223);
  position: relative;
}

.App-title {
  font-size: 2em;
  padding-top: 30px;
  padding-bottom: 30px;
  animation-name: fade-in;
  animation-duration: 2s;
}

.author{
  font-size: 0.8em;
  position: absolute;
  bottom: 0px;
  right: 10px;
  text-decoration: none;
  color: rgb(226, 223, 223);
}

.author:hover{
  color: rgb(255,255,255);
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

.Search{
  margin-top: 10px;
}

.Search > input {
  min-width: 200px;
  width: 40%;
  height: 40px;
  font-size: 1.3em;
}

.results-list{
  margin: 0;
  margin-top: 10px;
  padding-bottom: 60px;
  justify-content: center;
}

.result{
  max-width: 240px;
  min-width: 200px;
  max-height: 300px;
  margin: 5px; 
  padding: 10px;

  font-weight: bold;
  font-size: 1.1em;
  text-align: center;

  border: 0.5px solid rgb(148, 147, 147);
  border-radius: 10px;
 
  background-color: white;
  opacity: 0.9;
}

.result:hover{
  box-shadow: 3px 3px 5px 3px rgba(10,10,10, 0.3);
  opacity: 1.0;
}

.result-img-cont {
  display: block;
  max-height: 70%;
}

.result-img{
  max-height: 240px;
  max-width: 100%;
  display: block;
  margin: auto;
  margin-top: 0;
  border-radius: 10px;
}

.details-btn {
  content: url('./images/close.png');
  display: block;
  float: right;
}

.description{
  font-size: 1.2em;
}

.attribution {
  font-size: 0.8em;
}

footer{
  bottom: 0;
  color: rgb(255,255,255);
  position: absolute;
  left: 0;
  right: 0;
}

footer > a {
  color: rgb(255,255,255);
}

@-webkit-keyframes fade-in{
  from{ opacity: 0}
  to{opacity: 1}
}

@keyframes fade-in{
  from{ opacity: 0}
  to{opacity: 1}
}



